name: Rust

on:
  push:
    branches: [ "Rust" ]
  pull_request:
    branches: [ "Rust" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install LLVM
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo apt-get update && sudo apt-get install llvm-22 llvm-22-dev

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
