name: Rust

on:
  push:
    branches: [ "Rust" ]
  pull_request:
    branches: [ "Rust" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install LLVM
      run: |
        sudo wget https://apt.llvm.org/llvm.sh
        sudo chmod +x llvm.sh
        sudo ./llvm.sh 20 all
        sudo update-alternatives --install /usr/bin/llvm-link llvm-link "$(command -v llvm-link-20)" 200
        sudo update-alternatives --set llvm-link "$(command -v llvm-link-20)"

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
